html, body {
	height: 100%;
	width: 100%;
}

#experiment {
  display: none;
  height: 100%;
  width: 100%;
}

#experiment-nav {
	width: 100%;
	height: 90px;
	background: grey;
}
#experiment-prompt {
	font-size: 24px;
	padding: 5px;
}
.experiment-menubar {
	width: 100%;
	height: 50px;
	display: inline-block;
}
.experiment-menu {
	width: 100px;
	border: 1px solid black;
	padding: 5px;
	margin: 0;
	display: inline-block;
	background: blue;
	position: relative;
}
.experiment-menu-button {
	height: 40px;
	position: relative;
}
.experiment-menu-dropdown {
	position: absolute;
	top: 50px;
	left: 0;
}