<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>CS279 Ephemeral Experiment</title>
    
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/static/hw2.js"></script>
  <link rel="stylesheet" href="/static/hw2.css" />
  
</head>
<body>
  <h1 style='color:blue'>Hello There!</h1>
  <div>
    <a href="https://www.cs.ubc.ca/labs/imager/tr/2009/findlater_chi_ephemeral/findlater-2009-chi-ephemeral.pdf">Ephemeral Adaptation: The Use of Gradual Onset to Improve Menu Selection Performance</a>
  </div>
  
  <div id="prepare-demographics">Begin Experiment by filling out demographics form</div>
  
  <form method="post" action="/demographics" id="demographics-form">
    <label for="name">Name</label><input type="text" name="name" value="" id="demographics-name">
    <div class="button" id="demographics-submit">Submit Demographics and begin experiment</div>
  </form>
  
  <div id="experiment">
    Time for an experiment.
  </div>
  
</body>
</html>

