<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>CS279 Ephemeral Experiment</title>
    
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="/static/hw2.js?r={{ random }}"></script>
  <link rel="stylesheet" href="/static/hw2.css?r={{ random }}" />
  
</head>
<body>
  <div class="modal" tabindex="-1" role="dialog" id="begin-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Welcome to a CS 279 Experiment</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for volunteering to participate in this experiment. This experiment will be in three parts. In the first part, you will be asked several demographic questions.</p>
          <p>In the second part, you will practice a task. Finally, you will be asked to complete two tasks that will be similar to the practice task. You will have the opportunity to take breaks in between the tasks.</p>
          <p>This experiment is based on a paper called     <a href="https://www.cs.ubc.ca/labs/imager/tr/2009/findlater_chi_ephemeral/findlater-2009-chi-ephemeral.pdf">Ephemeral Adaptation: The Use of Gradual Onset to Improve Menu Selection Performance</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-begin">Begin</button>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
  

  <div class="modal" tabindex="-1" role="dialog" id="demographics-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">CS 279: Before we begin, let's get your demographics</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
              <input type="text" class="form-control col-sm-10" placeholder="" name="gender" id="inputGender">
              <label for="inputAge">Age</label>
              <input type="number" class="form-control" placeholder="" name="age" id="inputAge">
              <label for="inputEducation">Level of education</label>
              <select class="form-control form-control-lg" name="education" id="inputEducation">
                <option>Some high school</option>
                <option>High school graduate</option>
                <option>Some college</option>
                <option>College graduate</option>
                <option>Some graduate school</option>
                <option>Graduate degree</option>
              </select>
              <label for="inputPointer">Pointer input type</label>
              <select class="form-control form-control-lg" name="pointer" id="inputPointer">
                <option value="mouse">Mouse</option>
                <option value="trackpad">Trackpad</option>
              </select>
              <label for="inputHandedness">Handedness</label>
              <select class="form-control form-control-lg" name="handedness" id="inputHandedness">
                <option value="right">Right-handed</option>
                <option value="left">Left-handed</option>
              </select>
              <label for="inputLang">Native language</label>
              <input type="text" class="form-control" placeholder="" name="language" id="inputLang">
              <label for="inputExperience">Experience with computers</label>
              <select class="form-control form-control-lg" name="experience" id="inputExperience">
                <option value="inexperienced">Inexperienced</option>
                <option value="familiar">Familiar</option>
                <option value="expert">Expert</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="demographics-submit">Submit and begin experiment</button>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
  
  <div id="experiment">
    Time for an experiment.
  </div>
  
</body>
</html>

