<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>CS279 Ephemeral Experiment</title>
    
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://underscorejs.org/underscore-min.js" crossorigin="anonymous"></script>

  <script src="/static/final.js?r={{ random }}"></script>
  <link rel="stylesheet" href="/static/final.css?r={{ random }}" />
  
</head>
<body>
  <div class="modal" tabindex="-1" role="dialog" id="begin-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Welcome to a CS 279 Experiment</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for volunteering to participate in this experiment. This experiment will be in three parts. In the first part, you will be asked several demographic questions.</p>
          <p>In the second part, you will practice a task. Finally, you will be asked to complete two tasks that will be similar to the practice task. You will have the opportunity to take breaks in between the tasks.</p>
          <p>This experiment is based on a paper called     <a href="https://www.cs.ubc.ca/labs/imager/tr/2009/findlater_chi_ephemeral/findlater-2009-chi-ephemeral.pdf">Ephemeral Adaptation: The Use of Gradual Onset to Improve Menu Selection Performance</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-begin">Begin</button>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
  

  <div class="modal" tabindex="-1" role="dialog" id="demographics-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">CS 279: Before we begin, let's get your demographics</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="inputGender" class="col-sm-4 col-form-label">Gender</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" name="gender" id="inputGender">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputAge" class="col-sm-4 col-form-label">Age</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" placeholder="" name="age" id="inputAge">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEducation" class="col-sm-4 col-form-label">Level of education</label>
              <div class="col-sm-8">
                <select class="form-control" name="education" id="inputEducation">
                  <option>Some high school</option>
                  <option>High school graduate</option>
                  <option>Some college</option>
                  <option>College graduate</option>
                  <option>Some graduate school</option>
                  <option>Graduate degree</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPointer" class="col-sm-4 col-form-label">Pointer input type</label>
              <div class="col-sm-8">
                <select class="form-control" name="pointer" id="inputPointer">
                  <option value="mouse">Mouse</option>
                  <option value="trackpad">Trackpad</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputHandedness" class="col-sm-4 col-form-label">Handedness</label>
              <div class="col-sm-8">
                <select class="form-control" name="handedness" id="inputHandedness">
                  <option value="right">Right-handed</option>
                  <option value="left">Left-handed</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputLang" class="col-sm-4 col-form-label">Native language</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" name="language" id="inputLang">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputExperience" class="col-sm-4 col-form-label">Experience with computers</label>
              <div class="col-sm-8">
                <select class="form-control" name="experience" id="inputExperience">
                  <option value="inexperienced">Inexperienced</option>
                  <option value="familiar">Familiar</option>
                  <option value="expert">Expert</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="demographics-submit">Submit and continue</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" tabindex="-1" role="dialog" id="practice-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">About to begin...</h5>
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for completing the survey. Feel free to take a short break before continuing to the next section.</p>

          <p>Next is the practice task section, which will familiarize you with the layout of the task interface. There will be three dropdown menus on the next screen. A prompt at the top of the page will ask you to select a certain menu and then select an option from the menu. Don’t worry if you select the wrong one; you will have an opportunity to try again.</p>

          <p>Click “Begin” when you are ready to continue to the practice task.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-begin-experiment">Begin</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" tabindex="-1" role="dialog" id="intermission-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="intermission-modal-title" class="modal-title">Thanks! Onto the next task!</h5>
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for completing the previous task. Feel free to take a short break before continuing to the next section.</p>

          <p>Next is the main task section. There will be three dropdown menus on the next screen. A prompt at the top of the page will ask you to select a certain menu and then select an option from the menu. There will be 126 different options so it could take a short while. Don’t worry if you select the wrong one; you will have an opportunity to try again.</p>

          <p>Click “Continue” when you are ready to continue to the main task.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-intermission">Continue</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal" tabindex="-1" role="dialog" id="feedback-modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thank you! Please complete this short feedback form...</h5>
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you so much for completing this task! Please complete the following survey based on your experience with the task.</p>
          <form>
            <div>
              <label for="inputDifficulty" class="col-form-label">Difficulty?</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least difficult
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty1" value="1">
                <label class="form-check-label" for="difficulty1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty2" value="2">
                <label class="form-check-label" for="difficulty2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty3" value="3">
                <label class="form-check-label" for="difficulty3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty4" value="4">
                <label class="form-check-label" for="difficulty4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty5" value="5">
                <label class="form-check-label" for="difficulty5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty6" value="6">
                <label class="form-check-label" for="difficulty6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty7" value="7">
                <label class="form-check-label" for="difficulty7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most difficult
              </div>
            </div>
            
            <div>
              <label for="inputSatisfaction" class="col-form-label">Satisfaction?</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least satisfied
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction1" value="1">
                <label class="form-check-label" for="satisfaction1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction2" value="2">
                <label class="form-check-label" for="satisfaction2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction3" value="3">
                <label class="form-check-label" for="satisfaction3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction4" value="4">
                <label class="form-check-label" for="satisfaction4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction5" value="5">
                <label class="form-check-label" for="satisfaction5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction6" value="6">
                <label class="form-check-label" for="satisfaction6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction7" value="7">
                <label class="form-check-label" for="satisfaction7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most satisfied
              </div>
            </div>

            <div>
              <label for="inputFrustration" class="col-form-label">Frustration?</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least frustrated
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration1" value="1">
                <label class="form-check-label" for="frustration1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration2" value="2">
                <label class="form-check-label" for="frustration2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration3" value="3">
                <label class="form-check-label" for="frustration3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration4" value="4">
                <label class="form-check-label" for="frustration4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration5" value="5">
                <label class="form-check-label" for="frustration5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration6" value="6">
                <label class="form-check-label" for="frustration6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration7" value="7">
                <label class="form-check-label" for="frustration7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most frustrated
              </div>
            </div>
            

            <div>
              <label for="inputEfficiency" class="col-form-label">Efficiency?</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least efficient
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency1" value="1">
                <label class="form-check-label" for="efficiency1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency2" value="2">
                <label class="form-check-label" for="efficiency2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency3" value="3">
                <label class="form-check-label" for="efficiency3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency4" value="4">
                <label class="form-check-label" for="efficiency4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency5" value="5">
                <label class="form-check-label" for="efficiency5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency6" value="6">
                <label class="form-check-label" for="efficiency6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency7" value="7">
                <label class="form-check-label" for="efficiency7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most efficient
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-feedback">Submit feedback</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal" tabindex="-1" role="dialog" id="goodbye-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">All done!<h5>
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for completing our experiment. You are now eligible to receive a free cookie.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="experiment" style="display: none;">
    <div id="experiment-nav">
      <div id="experiment-prompt">Menu 1 > Option 3</div>
      <div class="experiment-menubar">
        <div class="experiment-menu">
          <div id="experiment-menu-button-1" class="experiment-menu-button">Menu 1</div>
          <div id="experiment-menu-dropdown-1" class="experiment-menu-dropdown" style="display: none;">
            <div id="experiment-menu-1-option-1" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Option text</span>
            </div>
            <div id="experiment-menu-1-option-2" class="experiment-menu-option">
              <span class="menu-option-text">Cucumber</span>
            </div>
            <div id="experiment-menu-1-option-3" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Pineapple</span>
            </div>
            <div id="experiment-menu-1-option-4" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Broccoli</span>
            </div>
            <div id="experiment-menu-1-option-5" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Pizza</span>
            </div>
            <div id="experiment-menu-1-option-6" class="experiment-menu-option">
              <span class="menu-option-text">Word</span>
            </div>
            <div id="experiment-menu-1-option-7" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Apple</span>
            </div>
            <div id="experiment-menu-1-option-8" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Golden Retriever</span>
            </div>
            <div id="experiment-menu-1-option-9" class="experiment-menu-option">
              <span class="menu-option-text">Piano</span>
            </div>
            <div id="experiment-menu-1-option-10" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Sameric</span>
            </div>
          </div>
        </div>
        <div class="experiment-menu">
          <div id="experiment-menu-button-2" class="experiment-menu-button">Menu 2</div>
          <div id="experiment-menu-dropdown-2" class="experiment-menu-dropdown" style="display: none;">
            <div id="experiment-menu-2-option-1" class="experiment-menu-option">
              <span class="menu-option-text">Option text</span>
            </div>
            <div id="experiment-menu-2-option-2" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Option text</span>
            </div>
          </div>
        </div>
        <div class="experiment-menu">
          <div id="experiment-menu-button-3" class="experiment-menu-button">Menu 3</div>
          <div id="experiment-menu-dropdown-3" class="experiment-menu-dropdown" style="display: none;">
            <div id="experiment-menu-3-option-1" class="experiment-menu-option">
              <span class="menu-option-text">Option text</span>
            </div>
            <div id="experiment-menu-3-option-2" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Option text</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

