<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>CS279 Bias Experiment</title>
    
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://underscorejs.org/underscore-min.js" crossorigin="anonymous"></script>

  <script src="/static/final.js?r={{ random }}"></script>
  <link rel="stylesheet" href="/static/final.css?r={{ random }}" />
  
</head>
<body>
  <div class="modal" tabindex="-1" role="dialog" id="begin-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Welcome to a CS 279 Experiment</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for volunteering to participate in this experiment.</p>
          <p>This experiment is split into three parts.</p>
          <p>This experiment is based on the results of a Pew Research Center report     <a href="http://www.journalism.org/2018/06/18/distinguishing-between-factual-and-opinion-statements-in-the-news/">Distinguishing Between Factual and Opinion Statements in the News</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-begin">Begin</button>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
  

  <div class="modal" tabindex="-1" role="dialog" id="demographics-modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">CS 279: Before we begin, please tell us a little about yourself and your preferences.</h5>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <h2>About you</h2>
            <div class="form-group row">
              <label for="inputGender" class="col-sm-4 col-form-label">Gender</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" name="gender" id="inputGender">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputAge" class="col-sm-4 col-form-label">Age</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" placeholder="" name="age" id="inputAge">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEducation" class="col-sm-4 col-form-label">Level of education</label>
              <div class="col-sm-8">
                <select class="form-control" name="education" id="inputEducation">
                  <option>Some high school</option>
                  <option>High school graduate</option>
                  <option>Some college</option>
                  <option>College graduate</option>
                  <option>Some graduate school</option>
                  <option>Graduate degree</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputZipcode" class="col-sm-4 col-form-label">Zip code</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" placeholder="" name="zipcode" id="inputZipcode">
              </div>
            </div>
            
            <h2>How would you rate your...</h2>
            

            <div>
              <label for="inputAwareness" class="col-form-label">Political Awareness</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Very low
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="awareness" id="awareness1" value="1">
                <label class="form-check-label" for="awareness1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="awareness" id="awareness2" value="2">
                <label class="form-check-label" for="awareness2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="awareness" id="awareness3" value="3">
                <label class="form-check-label" for="awareness3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="awareness" id="awareness4" value="4">
                <label class="form-check-label" for="awareness4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="awareness" id="awareness5" value="5">
                <label class="form-check-label" for="awareness5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="awareness" id="awareness6" value="6">
                <label class="form-check-label" for="awareness6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="awareness" id="awareness7" value="7">
                <label class="form-check-label" for="awareness7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Very High
              </div>
            </div>
          
            <div>
              <label for="inputSavviness" class="col-form-label">Digital Savviness</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least low
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="savviness" id="savviness1" value="1">
                <label class="form-check-label" for="savviness1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="savviness" id="savviness2" value="2">
                <label class="form-check-label" for="savviness2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="savviness" id="savviness3" value="3">
                <label class="form-check-label" for="savviness3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="savviness" id="savviness4" value="4">
                <label class="form-check-label" for="savviness4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="savviness" id="savviness5" value="5">
                <label class="form-check-label" for="savviness5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="savviness" id="savviness6" value="6">
                <label class="form-check-label" for="savviness6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="savviness" id="savviness7" value="7">
                <label class="form-check-label" for="savviness7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most high
              </div>
            </div>

            <div>
              <label for="inputTrust" class="col-form-label">News Trust</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least low
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="trust" id="trust1" value="1">
                <label class="form-check-label" for="trust1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="trust" id="trust2" value="2">
                <label class="form-check-label" for="trust2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="trust" id="trust3" value="3">
                <label class="form-check-label" for="trust3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="trust" id="trust4" value="4">
                <label class="form-check-label" for="trust4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="trust" id="trust5" value="5">
                <label class="form-check-label" for="trust5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="trust" id="trust6" value="6">
                <label class="form-check-label" for="trust6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="trust" id="trust7" value="7">
                <label class="form-check-label" for="trust7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most high
              </div>
            </div>
          

            <div>
              <label for="inputInterest" class="col-form-label">News Interest</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least low
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interest" id="interest1" value="1">
                <label class="form-check-label" for="interest1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interest" id="interest2" value="2">
                <label class="form-check-label" for="interest2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interest" id="interest3" value="3">
                <label class="form-check-label" for="interest3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interest" id="interest4" value="4">
                <label class="form-check-label" for="interest4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interest" id="interest5" value="5">
                <label class="form-check-label" for="interest5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interest" id="interest6" value="6">
                <label class="form-check-label" for="interest6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interest" id="interest7" value="7">
                <label class="form-check-label" for="interest7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most high
              </div>
            </div>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="demographics-submit">Submit and continue</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" tabindex="-1" role="dialog" id="practice-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">About to begin...</h5>
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for completing the survey. Feel free to take a short break before continuing to the next section.</p>

          <p>Next is the practice task section, which will familiarize you with the layout of the task interface. There will be three dropdown menus on the next screen. A prompt at the top of the page will ask you to select a certain menu and then select an option from the menu. Don’t worry if you select the wrong one; you will have an opportunity to try again.</p>

          <p>Click “Begin” when you are ready to continue to the practice task.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-begin-experiment">Begin</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" tabindex="-1" role="dialog" id="intermission-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="intermission-modal-title" class="modal-title">Thanks! Onto the next task!</h5>
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for completing the previous task. Feel free to take a short break before continuing to the next section.</p>

          <p>Next is the main task section. There will be three dropdown menus on the next screen. A prompt at the top of the page will ask you to select a certain menu and then select an option from the menu. There will be 126 different options so it could take a short while. Don’t worry if you select the wrong one; you will have an opportunity to try again.</p>

          <p>Click “Continue” when you are ready to continue to the main task.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-intermission">Continue</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal" tabindex="-1" role="dialog" id="feedback-modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thank you! Please complete this short feedback form...</h5>
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you so much for completing this task! Please complete the following survey based on your experience with the task.</p>
          <form>
            <div>
              <label for="inputDifficulty" class="col-form-label">Difficulty?</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least difficult
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty1" value="1">
                <label class="form-check-label" for="difficulty1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty2" value="2">
                <label class="form-check-label" for="difficulty2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty3" value="3">
                <label class="form-check-label" for="difficulty3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty4" value="4">
                <label class="form-check-label" for="difficulty4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty5" value="5">
                <label class="form-check-label" for="difficulty5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty6" value="6">
                <label class="form-check-label" for="difficulty6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficulty" id="difficulty7" value="7">
                <label class="form-check-label" for="difficulty7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most difficult
              </div>
            </div>
            
            <div>
              <label for="inputSatisfaction" class="col-form-label">Satisfaction?</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least satisfied
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction1" value="1">
                <label class="form-check-label" for="satisfaction1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction2" value="2">
                <label class="form-check-label" for="satisfaction2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction3" value="3">
                <label class="form-check-label" for="satisfaction3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction4" value="4">
                <label class="form-check-label" for="satisfaction4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction5" value="5">
                <label class="form-check-label" for="satisfaction5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction6" value="6">
                <label class="form-check-label" for="satisfaction6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction7" value="7">
                <label class="form-check-label" for="satisfaction7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most satisfied
              </div>
            </div>

            <div>
              <label for="inputFrustration" class="col-form-label">Frustration?</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least frustrated
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration1" value="1">
                <label class="form-check-label" for="frustration1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration2" value="2">
                <label class="form-check-label" for="frustration2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration3" value="3">
                <label class="form-check-label" for="frustration3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration4" value="4">
                <label class="form-check-label" for="frustration4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration5" value="5">
                <label class="form-check-label" for="frustration5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration6" value="6">
                <label class="form-check-label" for="frustration6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="frustration" id="frustration7" value="7">
                <label class="form-check-label" for="frustration7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most frustrated
              </div>
            </div>
            

            <div>
              <label for="inputEfficiency" class="col-form-label">Efficiency?</label>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                Least efficient
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency1" value="1">
                <label class="form-check-label" for="efficiency1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency2" value="2">
                <label class="form-check-label" for="efficiency2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency3" value="3">
                <label class="form-check-label" for="efficiency3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency4" value="4">
                <label class="form-check-label" for="efficiency4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency5" value="5">
                <label class="form-check-label" for="efficiency5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency6" value="6">
                <label class="form-check-label" for="efficiency6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="efficiency" id="efficiency7" value="7">
                <label class="form-check-label" for="efficiency7">7</label>
              </div>
              <div class="form-check form-check-inline">
                Most efficient
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-feedback">Submit feedback</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal" tabindex="-1" role="dialog" id="goodbye-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">All done!<h5>
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for completing our experiment. You are now eligible to receive a free cookie.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="experiment" style="display: none;">
    <div id="experiment-nav">
      <div id="experiment-prompt">Menu 1 > Option 3</div>
      <div class="experiment-menubar">
        <div class="experiment-menu">
          <div id="experiment-menu-button-1" class="experiment-menu-button">Menu 1</div>
          <div id="experiment-menu-dropdown-1" class="experiment-menu-dropdown" style="display: none;">
            <div id="experiment-menu-1-option-1" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Option text</span>
            </div>
            <div id="experiment-menu-1-option-2" class="experiment-menu-option">
              <span class="menu-option-text">Cucumber</span>
            </div>
            <div id="experiment-menu-1-option-3" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Pineapple</span>
            </div>
            <div id="experiment-menu-1-option-4" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Broccoli</span>
            </div>
            <div id="experiment-menu-1-option-5" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Pizza</span>
            </div>
            <div id="experiment-menu-1-option-6" class="experiment-menu-option">
              <span class="menu-option-text">Word</span>
            </div>
            <div id="experiment-menu-1-option-7" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Apple</span>
            </div>
            <div id="experiment-menu-1-option-8" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Golden Retriever</span>
            </div>
            <div id="experiment-menu-1-option-9" class="experiment-menu-option">
              <span class="menu-option-text">Piano</span>
            </div>
            <div id="experiment-menu-1-option-10" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Sameric</span>
            </div>
          </div>
        </div>
        <div class="experiment-menu">
          <div id="experiment-menu-button-2" class="experiment-menu-button">Menu 2</div>
          <div id="experiment-menu-dropdown-2" class="experiment-menu-dropdown" style="display: none;">
            <div id="experiment-menu-2-option-1" class="experiment-menu-option">
              <span class="menu-option-text">Option text</span>
            </div>
            <div id="experiment-menu-2-option-2" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Option text</span>
            </div>
          </div>
        </div>
        <div class="experiment-menu">
          <div id="experiment-menu-button-3" class="experiment-menu-button">Menu 3</div>
          <div id="experiment-menu-dropdown-3" class="experiment-menu-dropdown" style="display: none;">
            <div id="experiment-menu-3-option-1" class="experiment-menu-option">
              <span class="menu-option-text">Option text</span>
            </div>
            <div id="experiment-menu-3-option-2" class="experiment-menu-option">
              <span class="menu-option-text fade-in">Option text</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

